# ====================================================================================================
# Ignore
# ====================================================================================================

# Common
**/.vscode/* linguist-vendored=true
**/.idea/* linguist-vendored=true
**/.venv/* linguist-vendored=true
**/venv/* linguist-vendored=true
**/env/* linguist-vendored=true
**/log/* linguist-vendored=true
**/tmp/* linguist-vendored=true

# Frontend
**/node_modules/* linguist-vendored=true
**/package-lock.json linguist-generated=true
**/yarn.lock linguist-generated=true
**/.next/* linguist-generated=true
**/*.d.ts linguist-generated=true

# Web Assets
*.html linguist-vendored=true
*.css linguist-vendored=true
*.less linguist-vendored=true
*.sass linguist-vendored=true
*.scss linguist-vendored=true
*.mjs linguist-vendored=true
*.cjs linguist-detectable=false

# Ruby、Rails
**/Gemfile.lock linguist-generated=true
**/.bundle/* linguist-vendored=true

# Python、Django
*.pyc linguist-vendored=true
**/__pycache__/* linguist-vendored=true
**/db.sqlite3 linguist-vendored=true

# Golang、Gin
**/go.mod linguist-language=Go
**/go.sum linguist-generated=true
**/vendor/* linguist-vendored=true

# Rust
**/Cargo.toml linguist-language=Rust
**/Cargo.lock linguist-generated=true
**/target/* linguist-vendored=true

# Markdown
*.md linguist-documentation=true

# Configuration Files - be more specific
**/package-lock.json linguist-generated=true
**/yarn.lock linguist-generated=true
**/*lock.json linguist-generated=true
*.yaml linguist-vendored=true
*.yml linguist-vendored=true


# ====================================================================================================
# # Ensure
# ====================================================================================================


# Makefile
Makefile linguist-language=Makefile
*Dockerfile* linguist-language=Dockerfile

# Shell Scripts
*.sh linguist-language=Shell
**/*.sh linguist-language=Shell
**/manage.sh linguist-language=Shell

# Protocol Buffers
*.proto linguist-vendored=false
*.proto linguist-generated=false
*.proto linguist-documentation=false
*.proto linguist-detectable=true
**/*.proto linguist-vendored=false
**/*.proto linguist-generated=false
**/*.proto linguist-documentation=false
**/*.proto linguist-detectable=true
