/* cSpell:disable */

:root {
  /* --font-alkatra: Passed by next-font in RootLayout; */
  /* --font-ma-shan-zheng: Passed by next-font in RootLayout; */
  /* --font-new-tegomin: Passed by next-font in RootLayout; */
  --backgroun-image: url("/assets/backgrounds/01.avif");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
  max-width: 100vw;
  height: auto !important;
  min-height: 100svh !important;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  /* fonts */
  font-family: var(--font-alkatra), var(--font-ma-shan-zheng), var(--font-new-tegomin);

  /* background image */
  background-image: var(--backgroun-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}
